#About{
    height: 200px;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.new-song{
    color: white;
    font-size: 13px;
    font-family: 'Inter';
}

.new-artist{
    color: rgb(157, 157, 157);
    font-size: 11px;
    font-family: 'Inter';
    margin-bottom: 2%;
    display: flex;
}

.new-span{
    color: white;
    display: inline-flex;
    font-size: x-large;
    font-family: 'Inter';
    margin-bottom: 2%;
}

.swiper-pagination-bullet{
    display: none;
} 

.song-small-button{
    border: none;
    background: none;
    padding: 0;
}

.stop-small{
    width: 20%;
    height: 15%;
    position: absolute;
    top: 50%;
    right: 15%;
    z-index: 10;
    margin: auto;
}

.stop-small:hover{
    width: 25%;
    height: 20%;
    transition: 0.3s;
}

.new-div{
    height: 10px
}