@media screen and (min-width:350px) and (max-width:480px) {
    #About{
        height: 300px;
        width: 100%;
        margin-bottom: 60%;
        margin-top: 22%;
    }
    
    .new-song{
        color: black;
        font-size: 13px;
        font-family: 'Inter';
    }
    
    .new-artist{
        color: black;
        font-size: 11px;
        font-family: 'Inter';
        margin-bottom: 2%;
        display: flex;
    }
    
    .swiper-pagination-bullet{
        display: none;
    } 
    
    .song-small-button{
        border: none;
        background: none;
        padding: 0;
    }
    
    .stop-small{
        width: 20%;
        height: 17%;
        position: absolute;
        top: 50%;
        right: 15%;
        z-index: 10;
        margin: auto;
    }
    
    .stop-small:hover{
        width: 25%;
        height: 20%;
        transition: 0.3s;
    }
    
    .new-div{
        height: 10px
    }

    .new-img{
        height: 350px;
        width: 100%;
    }

    .search-box {
        position: absolute;
        top: 28%;
        left: 50%; 
        display: flex;
        align-items: center;
        transform: translate(-50%, -50%);
        /* padding: 10px; */
        border-radius: 40px;
        height: 40px;
        background: black;
        margin-bottom: 3%;
    }
      
    .search-box:hover .search-txt {
        width: 240px;
        padding: 0 6px;
    }
      
    .search-box:hover .search-btn {
        background: #fff;
    }
      
    .search-txt {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: #fff;
        transition: 0.5s;
        font-size: 1rem;
        width: 0px;
        margin-left: 2%;
    }
      
    .search-btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.5s;
    }

    .search-icon{
        width: 100%;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    #About{
        height: 300px;
        width: 100%;
        margin-bottom: 5%;
    }
    
    .new-song{
        color: black;
        font-size: 13px;
        font-family: 'Inter';
    }
    
    .new-artist{
        color: black;
        font-size: 11px;
        font-family: 'Inter';
        margin-bottom: 2%;
        display: flex;
    }
    
    .swiper-pagination-bullet{
        display: none;
    } 
    
    .song-small-button{
        border: none;
        background: none;
        padding: 0;
    }
    
    .stop-small{
        width: 20%;
        height: 15%;
        position: absolute;
        top: 50%;
        right: 15%;
        z-index: 10;
        margin: auto;
    }
    
    .stop-small:hover{
        width: 25%;
        height: 20%;
        transition: 0.3s;
    }
    
    .new-div{
        height: 10px
    }

    .search-box {
        position: absolute;
        top: 28%;
        left: 50%; 
        display: flex;
        align-items: center;
        transform: translate(-50%, -50%);
        /* padding: 10px; */
        border-radius: 40px;
        height: 40px;
        background: black;
        margin-bottom: 3%;
    }
      
    .search-box:hover .search-txt {
        width: 240px;
        padding: 0 6px;
    }
      
    .search-box:hover .search-btn {
        background: #fff;
    }
      
    .search-txt {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: #fff;
        transition: 0.5s;
        font-size: 1rem;
        width: 0px;
        margin-left: 2%;
    }
      
    .search-btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.5s;
    }

    .search-icon{
        width: 100%;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    #About{
        height: 300px;
        width: 100%;
        margin-bottom: 5%;
    }
    
    .new-song{
        color: black;
        font-size: 13px;
        font-family: 'Inter';
    }
    
    .new-artist{
        color: black;
        font-size: 11px;
        font-family: 'Inter';
        margin-bottom: 2%;
        display: flex;
    }
    
    .swiper-pagination-bullet{
        display: none;
    } 
    
    .song-small-button{
        border: none;
        background: none;
        padding: 0;
    }
    
    .stop-small{
        width: 20%;
        height: 15%;
        position: absolute;
        top: 50%;
        right: 15%;
        z-index: 10;
        margin: auto;
    }
    
    .stop-small:hover{
        width: 25%;
        height: 20%;
        transition: 0.3s;
    }
    
    .new-div{
        height: 10px
    }

    .new-img{
        height: 280px;
    }

    .search-box {
        position: absolute;
        top: 44%;
        left: 50%; 
        display: flex;
        align-items: center;
        transform: translate(-50%, -50%);
        /* padding: 10px; */
        border-radius: 40px;
        height: 40px;
        background: black;
        margin-bottom: 3%;
    }
      
    .search-box:hover .search-txt {
        width: 240px;
        padding: 0 6px;
    }
      
    .search-box:hover .search-btn {
        background: #fff;
    }
      
    .search-txt {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: #fff;
        transition: 0.5s;
        font-size: 1rem;
        width: 0px;
        margin-left: 2%;
    }
      
    .search-btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.5s;
    }

    .search-icon{
        width: 100%;
    }
}

@media screen and (min-width:1025px) {
    #About{
        height: 300px;
        width: 100%;
        margin-bottom: 10%;
    }
    
    .new-song{
        color: black;
        font-size: 13px;
        font-family: 'Inter';
    }
    
    .new-artist{
        color: black;
        font-size: 11px;
        font-family: 'Inter';
        margin-bottom: 2%;
        display: flex;
    }

    .new-img{
        height: 220px;
        object-fit: cover;
    }

    .search-box {
        position: absolute;
        top: 42%;
        left: 50%; 
        display: flex;
        align-items: center;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        height: 40px;
        background: black;
        margin-bottom: 3%;
    }
      
    .search-box:hover .search-txt {
        width: 240px;
        padding: 0 6px;
    }
      
    .search-box:hover .search-btn {
        background: #fff;
    }
      
    .search-txt {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: #fff;
        transition: 0.5s;
        font-size: 1rem;
        width: 0px;
        margin-left: 2%;
    }
      
    .search-btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.5s;
    }

    .search-icon{
        width: 90%;
    }

    .swiper-pagination-bullet{
        display: none;
    } 
    
    .song-small-button{
        border: none;
        background: none;
        padding: 0;
    }
    
    .stop-small{
        width: 20%;
        height: 15%;
        position: absolute;
        top: 50%;
        right: 15%;
        z-index: 10;
        margin: auto;
    }
    
    .stop-small:hover{
        width: 25%;
        height: 20%;
        transition: 0.3s;
    }
    
    .new-div{
        height: 10px
    }

    .gap{
        gap: 5% 3%;
        margin-bottom: 4%;
    }
}

.swiper-scrollbar{
    display: none;
    background-color: transparent;
}

