@media screen and (min-width:350px) and (max-width:480px) {
    #Skills{
        height: 300px;
        width: 100%;
        margin-bottom: 10%;
    }
    
    .content {
        width: 100%;
        overflow: hidden;
    }
    
    .content .little-music-img {
        margin-right: 15px;
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    
    .grow:hover .little-music {
        transition: all 0.8s ease-in-out;
        opacity: 1;
      }
    
    .little-div{
        display: inline-flex;
    }

    .little-music{
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 10;
        margin-left: 16%;
        margin-top: 16%;
        opacity: 0;
    }
    
    .little-new-song{
        color: black;
        font-size: 13px;
        font-family: 'Inter';
        padding:0;
        margin-top: 4%;
    }
    
    .little-new-artist{
        color: rgb(98, 98, 98);
        font-size: 11px;
        font-family: 'Inter';
        padding:0;
        margin: 0;
    }
    
    .little-div-pacet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0%;
        gap: 0 3%;
    }

    .new-h1{
        color: black;
        display: inline-flex;
        font-size: 25px;
        font-weight: 400;
        font-family: inter, sans serif;
        margin-bottom: 2%;
    }

    .books{
        display: inline-flex;
    }

    .books img{
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .gap{
        gap: 5% 3%;
        margin-bottom: 32%;
    }
}
@media screen and (min-width:481px) and (max-width:768px) {
    #Skills{
        height: 300px;
        width: 100%;
        margin-bottom: 10%;
    }
    
    .little-music{
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 10;
        margin-left: 5%;
        margin-top: 4%;
        opacity: 0;
    }
    
    .content {
        width: 100%;
        overflow: hidden;
    }
    
    .content .little-music-img {
        margin-right: 15px;
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    
    .grow:hover .little-music {
        transition: all 0.8s ease-in-out;
        opacity: 1;
      }
    
    .little-div{
        display: inline-flex;
    }
    
    .little-new-song{
        color: white;
        font-size: 13px;
        font-family: 'Inter';
        padding:0;
        margin-top: 4%;
    }
    
    .little-new-artist{
        color: rgb(157, 157, 157);
        font-size: 11px;
        font-family: 'Inter';
        padding:0;
        margin: 0;
    }
    
    .little-div-pacet{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 0%;
        gap: 0 3%;
    }

    .new-h1{
        color: black;
        display: inline-flex;
        font-size: 25px;
        font-weight: 400;
        font-family: inter, sans serif;
        margin-bottom: 2%;
    }

    .books{
        display: inline-flex;
    }

    .books img{
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .gap{
        gap: 5% 3%;
        margin-bottom: 4%;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    #Skills{
        height: 300px;
        width: 100%;
        margin-bottom: 10%;
        margin-top: 15%;

    }
    
    .little-music{
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 10;
        margin-left: 6%;
        margin-top: 6%;
        opacity: 0;
    }
    
    .content {
        width: 100%;
        overflow: hidden;
    }
    
    .content .little-music-img {
        margin-right: 15px;
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    
    .grow:hover .little-music {
        transition: all 0.8s ease-in-out;
        opacity: 1;
      }
    
    .little-div{
        display: inline-flex;
    }
    
    .little-new-song{
        color: white;
        font-size: 13px;
        font-family: 'Inter';
        padding:0;
        margin-top: 4%;
    }
    
    .little-new-artist{
        color: rgb(157, 157, 157);
        font-size: 11px;
        font-family: 'Inter';
        padding:0;
        margin: 0;
    }
    
    .little-div-pacet{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 0%;
        gap: 0 3%;
    }

    .new-h1{
        color: black;
        display: inline-flex;
        font-size: 25px;
        font-weight: 400;
        font-family: inter, sans serif;
        margin-bottom: 2%;
    }

    .books{
        display: inline-flex;
    }

    .books img{
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .gap{
        gap: 5% 3%;
        margin-bottom: 4%;
    }
}

@media screen and (min-width:1025px){
    #Skills{
        height: 300px;
        width: 100%;
        margin-bottom: 10%;
    }
    
    .little-music{
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 10;
        margin-left: 5%;
        margin-top: 4%;
        opacity: 0;
    }
    
    .content {
        width: 100%;
        overflow: hidden;
    }
    
    .content .little-music-img {
        margin-right: 15px;
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    
    .grow:hover .little-music {
        transition: all 0.8s ease-in-out;
        opacity: 1;
      }
    
    .little-div{
        display: inline-flex;
    }
    
    .little-new-song{
        color: black;
        font-size: 13px;
        font-family: 'Inter';
        padding:0;
        margin-top: 4%;
    }
    
    .little-new-artist{
        color: rgb(97, 97, 97);
        font-size: 11px;
        font-family: 'Inter';
        padding:0;
        margin: 0;
    }
    
    .little-div-pacet{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 0%;
        gap: 0 3%;
    }

    .books{
        display: inline-flex;
    }

    .books img{
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .new-h1{
        color: black;
        display: inline-flex;
        font-size: 25px;
        font-weight: 400;
        font-family: inter, sans serif;
        margin-bottom: 2%;
    }
}