b{
  font-family: inter, "sans-serif";
  font-weight: 400 !important;
}

@media only screen and (max-width: 500px) {
    #navRes {
      display: none;
    }
    #itemNav {
      display: none;
    }

    .mobile-header-iconbutton{
      background: white !important;
      color: black;
    }

    .mobile-header-menu{
      margin-top: 155%;
    }

    .mobile-header-button{
      background-color: white !important;
      border: 1px solid #d7d5d5 !important;
    }
  }

  @media only screen and (min-width: 768px) {
    .btnRes {
      background-color: white !important;
    }
  }
 
  #navFix {
    position: sticky;
   top: 0;
   z-index: 20;
   width: 100%;
  background-color: white;
  }
  @media(min-width:801px){
    #hamburger{
      display: none;
    }

    .header{
      background-color: white;
    }

    .background{
      background-color: white !important;
      color: black !important;
    }
  }
  @media (max-width:800px) {
    #resumeBtn{
      display: none;
    }

    #hamburger{
      display: block;
    }
  }
  
